@font-face {
    font-family: "CanelaBold";
    src: url("fuentes/Canela-Bold-Trial.otf");
}

@font-face {
    font-family: "CanelaMedium";
    src: url("fuentes/Canela-Medium-Trial.otf");
}

@font-face {
    font-family: "CanelaRegular";
    src: url("fuentes/Canela-Regular-Trial.otf");
}

@font-face {
    font-family: "CanelaLight";
    src: url("fuentes/Canela-Light-Trial.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');


h1{
    font-family: "CanelaRegular";
}

h2{
    font-family: "CanelaBold";
}

h6{
    font-family: "CanelaMedium";
}

.nav-item{
    font-family: 'Marcellus SC', serif;
    font-size: larger;
}

p{
    font-family: 'Marcellus SC', serif;
    font-size: large;
}

b{
    font-family: 'Marcellus SC', serif;
    font-weight: 600;
    font-size: larger;
}

.servsize{
    font-size: 25px;
}

.servtsize{
    font-size: 30px;
}

@media (max-width: 576px) {
  .servsize{
    font-size: 20px;
  }
  .servtsize{
    font-size: 25px;
  }
}


.servicios, .turnos, .productos, .opiniones, .servicios2, .contact{
    margin-bottom: 120px;
}

.servicio{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
}

.tratamiento:hover{
    transform: scale(1.01, 1.01);
}

#boton{
    font-family: 'Marcellus SC', serif;
    font-size: larger;
    background-color: white;
    border-color: black;
}

main{
    background-color: #e4e4e4;
}

.carousel-control-next-icon {
  margin-left: 180px;
}

.carousel-control-prev-icon{
  margin-right: 180px;
}

#scroll-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    z-index: 9999;
  }
  
  #scroll-to-top.show {
    display: block;
  }

  .serv{
    text-decoration: none;
    color: inherit;
  }

.links{
    color: #000;
    font-size: large;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  color: black;
}

.carousel-control-prev-icon:before {
  content: "\f053";
}

.carousel-control-next-icon:before {
  content: "\f054";
}

@media (max-width: 576px) {
    #ubicacion h2 {
      margin-top: 20px;
    }
  }

  @media (max-width: 576px) {
    .carousel-item .row .col-lg-3:not(:first-child) {
      display: none;
    }
  }

  @media (max-width: 576px) {
    .carousel-item .row .col-lg-4:not(:first-child) {
      display: none;
    }
  }

  @media (max-width: 576px) {
    .carousel-control-next{
      margin-right: 80px;
    }
    .carousel-control-prev{
      margin-left: 80px;
    }
  }

  @media (max-width: 576px) {
    .cont{
      --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    }
  }


